{{> head }}



{{> navbar }}

<div class="row">
    <div class="col-8">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Animi quos quaerat, sequi ex,
        voluptatum error quia minus, optio est corrupti delectus! Iure, pariatur maiores blanditiis in quaerat hic
        commodi quasi.</div>
    <div class="col-4">
        <img src="assets/img/uno.jpg" alt="img-thumbnail">
    </div>
</div>

{{> footer }}